<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!--====form section start====-->
<div class="user-detail">
    <h2>Insert data for Covid19 :</h2>
    <form action="/users/create" method="POST">
          <label>State Name</label>
          <input type="text" name="s_name" required><br>
          <label>Date</label>
          <input type="text" name="date_record" required>
          <label>Samples</label>
          <input type="text" name="samples" required>
          <label>Deaths</label>
          <input type="text" name="deaths" required>
          <label>Positives</label>
          <input type="text" name="positive" required>
          <label>Negatives</label>
          <input type="text" name="neggative" required>
          <label>Discharge</label>
          <input type="text" name="discharge" required>
          <button type="submit">Submit</button>
        </div>
</div>
<!--====form section start====-->
</body>
</html>